<!DOCTYPE html>
<html ng-app="BstBahamas">
<head>
  <title>BstBahamas</title>
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Karla' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body ng-controller="IndexCtrl">
<div id="veil"></div>
<side-menu></side-menu>
<div class="header">
    <div class="row">
        <div id="company" class="col-md-2 col-sm-2" ng-click="goToHome()">
            <h2 id="name">BSTBahamas</h2>
        </div>
        <div class="col-md-3  col-sm-offset-1 col-sm-3">
            <div id="banner">
                <h4>Create FREE local classified ads</h4>
            </div>
        </div>
        <div id="accNav" class="col-md-6 col-sm-6 hidden-xs">
            <div class="nav-links">
                <ul id="nav">
                    <span ng-if='!loggedIn'>
                        <li id="login"><a href="#login">Login</a></li>
                        <li id="signup"><a href="#sign_up">Register</a></li>
                    </span>
                    <span ng-if='loggedIn'>
                      <li class="username">{{currentUser.email}}</li>
                      <li id="logout" ng-click="logout()"><a href="#">Logout</a></li>
                    </span>
                    <p>
                      <li id="postAd" ng-class="{right: !loggedIn}"><a href="#post_ad">Post Ad Free</a></li>
                      <li id="postAd" ng-if="loggedIn"><a href="#my_ads">My Ads</a></li>
                    </p>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" id="searchbar">
        <div class="col-md-5 col-sm-5" id="search">
            <input type="text" ng-model="query" placeholder="Search" ng-keyup="$event.keyCode == 13 ? doSearch() : null"/>
            <button class="btn btn-primary btn-md" ng-click="doSearch()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="col-md-1 col-sm-1 hidden-xs"></div>
        <div class="col-md-3 col-sm-3 customSel" >
            <select ng-options='category.name for category in categories' ng-model="category" id="category" ng-change="selectCategory()">
                <option value="" selected>All Categories</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-3 customSel">
            <select ng-options="location.name for location in locations" ng-model="location" ng-change="selectLocation()">
                <option value="" selected>All Locations</option>
            </select>
        </div>
    </div>
</div>

<div class="row" id="mainCnt">

    <div id="view" class="col-md-10 col-sm-10" ng-view>
      <%= yield %>
    </div>
    <div id="adsense" class="col-md-2 col-sm-2 hidden-xs" my-ad-sense ng-if="showGoogleAds">
  <!-- Google AdSense -->
      <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="width:100%; height:760px; float:right;"
           ad-client="ca-pub-0000000000"
           ad-slot="0000000000"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
</div>

    <script type="text/ng-template" id="sideMenuDir">
        <div id="sideMenu">
            <div id="trigger" ng-click="toggle()"></div>
                <!--sm == sideMenu-->
                    <div class="sm-nav">
                        <ul class="sm-navbar">
                        <span ng-show="loggedIn === false">
                            <li class="sm-actions"><a href="#login">Login</a></li>
                            <li class="sm-actions"><a href="#sign_up">Sign Up</a></li>
                        </span>
                        <span ng-show="loggedIn === true">
                            <li class="sm-actions"><a href="#my_ads">My Ads</a></li>
                            <li class="sm-actions" ng-click="logout()"><a href="#">Logout</a></li>
                        </span>
                            <li class="sm-actions"><a href="#post_ad">Post Ad Free</a></li>
                        </ul>
                    </div>
            <div class="sm-categories">
                <div class="sm-featured">
                    <h4 class="sm-category-title">{{category.name}}</h4>
                    <div ng-repeat="_subCategory in category.sub_category">
                        <a ng-click="clickSubCategory(_subCategory)" ng-class="{selected: _subCategory.id == subCategory.id}">{{_subCategory.name}} ({{_subCategory.num_ads}})</a>
                    </div>
                    <div ng-if="category==null">
                        <h4 class="sm-category-title">All Categories</h4>
                        <div ng-repeat="_category in categories">
                            <a ng-click="clickCategory(_category)">{{_category.name}}</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </script>
</body>
</html>
